
div.error_msg {
    background-color: #FFBABA;
    color: #D8000C;
}

div.info_msg {
    background-color: #DFF2BF;
    color: #4F8A10;
}   

div.adv_msg {
	color: #9F6000;
	background-color: #FEEFB3;
}

label.error,label.valid{
    display: block;
    margin: 0 0 10px;
    width: 75%;
}

label.error {
    background-color: #FFBABA;
    color: #D8000C;
}

label.valid {
    background-color: #DFF2BF;
    color: #4F8A10;
}   
